@font-face {
    font-family: 'Cereal';
    src: url(AirbnbCereal-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Cereal';
    src: url(AirbnbCereal-Book.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Cereal';
    src: url(AirbnbCereal-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Cereal';
    src: url(AirbnbCereal-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Cereal';
    src: url(AirbnbCereal-ExtraBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Cereal';
    src: url(AirbnbCereal-Black.ttf);
    font-weight: 800;
}